<h1><%= @place.name %></h1>

<% if @activities.any? %>
  <h2>Post(s):</h2>
  <ul>
    <% @activities.each do |activity| %>
      <li>
        <strong><%= activity.name %></strong><br>
        <%= activity.description %><br>
        Date Posted: <%= activity.date_posted %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No post found for this place.</p>
<% end %>

<%= link_to 'New Post', new_place_activity_path(@place) %> </p>

<%= link_to 'Back', places_path %>
